.aditya{

background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWGNnlvR10sY3jn6-xUAoRIYuAz0KodHzLow&s");    height: 900vh;
    width: 100vw;
    background-size: cover;
    padding-left: 500px;
    padding-top: 0px;
    font-size: 25px;
    
}
.h3{
    padding-left: 550px;
}
.adi{
    height: 100px;
    width: 350px;

}
.shivam{
   font-size: 50px;
   
}
.s{
    width: 35px;
}
.a{
    height: 100px;
    width: 55px;
    font-size: 50px;
}
.sh{
    padding-left: 0px;
}
.ad{
    height: 45px;
}
.adit{
    height: 45px;
}
